# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# TensorFlow / Keras
*.h5
*.keras
checkpoints/
saved_model/

# Datasets
data/
datasets/

# IDE
.vscode/
.idea/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db